* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    font-family: "Josefin Sans", sans-serif;
    background-color: #eee1d1;
  }
  .navbar_0{
    background-color: #eee1d1;
    /* border: 1px solid #b59c86; */
    
  }
  .navbar {
    display: block;
    font-size: 18px;
    /* position: fixed; */
    width: 100%;
    /* background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%); */
    background: #eee1d1;
   padding: 10px 90px;
  }
  
  .main-nav {
    list-style-type: none;
    display: none;
  }
  
  .nav-links,
  .logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .main-nav li {
    text-align: center;
    margin: 15px auto;
  }

  .main-nav li a{
    color: #b59c86;
  }
  .nav-links.active{
    color: red;
  }
  ol, ul {
    padding-left: 0rem !important;
}
  
  .logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 0px;
    margin-left: 100px;
    color: #b59c86;
  }
  
  .navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
  }
  
  .active {
    display: block;
  }
  @media screen and (min-width: 320px) {
    .navbar {
      padding: 10px 0px !important;
  }
  .logo1 {
    margin-left: 20px;
}

  }
  @media screen and (min-width: 788px) {
    .navbar {
      display: block !important;
      /* padding: 10px 0px !important; */
      padding-bottom: 0;
      height: 70px;
      align-items: center;
    }
    
  
    .main-nav {
      display: flex;
      margin-right: 30px;
      margin-top: -28px;
      flex-direction: row;
      justify-content: flex-end;
    }
  
    .main-nav li {
      margin: 0;
    }
  
    .nav-links {
      margin-left: 40px;
    }
  
    .logo {
        margin-top: 7px;
        /* margin-left: -53px !important; */
    }
  
    .navbar-toggle {
      display: none;
    }
  
    .logo:hover,
    .nav-links:hover {
      color: rgba(255, 255, 255, 1);
    }
  }

  /* =============content ============ */
 
  .image img{
    border-radius: 50%;
    display: flex;
    margin: 40px auto;
    width: 290px;
    height: 290px;
  }
  .image img:hover{
    border: 5px solid #947860;
  }
  .content0{
    background-color: #eee1d1;
    padding: 20px;
  }
  .content{
    color: #b59c86;
  }
  .content h1{
    font-size: 70px;
    font-family:'Times New Roman', Times, serif;
  }
  .content h3{
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 2px;
  }
  .content1{
    
    display: flex;
    margin: 60px auto;
  }
  .content1 button{
    background: #b59c86;
    border: 2px solid #b59c86;
    color: #eee1d1;
    border-radius: 30px;
    font-weight: 600;
    padding: 10px 20px;
    margin: 0 auto;
  }
  .content1 button:hover{
    color: #b59c86;
    background-color:#eee1d1;
    border: 2px solid #b59c86;
  }
/* =========step2=========== */
.cont_sect{
  background-color: #eee1d1;
  padding: 20px;
}
.card img{
  border-top-right-radius: 70px;
  height: 290px;
}
.card{
  border: none;
  background-color: transparent;
}
.card-body {
  flex: 1 1 auto;
  padding: 1rem 0rem;
}
  .card-body h5{
    margin-top: -20px;
    padding: 10px;
    width: 100%;
    background-color: black;
    color: #fff;
  }
  .content3 button{
    background: #b59c86;
    border: 2px solid #b59c86;
    color: #eee1d1;
    border-radius: 30px;
    font-weight: 600;
    padding: 10px 20px;
    margin: 0 auto;
  }
  .content3 button:hover{
    color: #b59c86;
    background-color:#eee1d1;
    border: 2px solid #b59c86;
  }
  /* =========step3=========== */
  .cont_sect1{
    /* margin-top: 10px; */
    background-color: #d4bb9d;
    padding: 20px;
  }
  .card-title{
    font-size: 20px;
  }
  .card2 img{
    height: 250px;
    width: 220px;
    background-size: cover;
    /* object-fit: cover; */
  }
  .card-title:hover{
     color: #947860;
  }
/* =========step4=========== */
  .content0_background{
     /* background-image: url(Images/1131w-opwodVB04TY.webp); */
     background-repeat: no-repeat;
     /* background-position: center; */
     opacity: 0.9;
  }

  

.testimonials {
	margin-top: 5px;
	margin-bottom: 5px;
	position: relative;
	display: block;
	width: 100%;
	min-height: 250px;
}

.testimonials ul {
	list-style: none;
	padding: 0;
}

.testimonials li {
	display: inline-block;
	background-color: #b59c86;
	margin: 50px 10px 10px 10px;
	width: calc((100% - 55px));
	height: 220px;
	border: solid 1px #bdbdbd;
	position: relative;
	transition: ease-in-out .3s;
}
.testimonials li img {
	height: 100px;
	width: 100px;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	border-radius: 50%;
	box-shadow: 0px 0px 0px 6px #fff;
	background-color: #947860;
	transition: box-shadow 0.3s linear;
}

.testimonials li p {
	position: absolute;
	width: 90%;
	text-align: center;
	top: 70px;
	left: 50%;
	transform: translatex(-50%);
	font-size: 14px;
}

.testimonials li h1 {
	position: absolute;
	text-decoration: bold;
	bottom: 10px;
	left: 5%;
	/* transform: translatex(-50%); */
	font-size: 17px;
}

.testimonials li:hover {
	background-color: #947860;
	/* color: #fff; */
}

.testimonials li:hover img {
	box-shadow: 0px 0px 0px 2px #947860;
}

@media only screen and (max-width: 860px) {
	.testimonials li {
		width: 100%;
		margin: auto;
		display: block;
    height: 260px;
		margin-top: 70px;
	}
 
	.testimonials li:first-child {
		margin-top: 80px;
	}
}



.container h1, h2, h3 {
	margin-top: 15px;
	margin-left: 0;
	font-weight: 400;
}

.container span {
	color: #757575;
	font-weight: 600;
}

.image1 img{
   width: 90%;
   margin-left: 30px;
}
 /* ===========Step7===========
  */
.content6{
  background-color: #eee1d1;
  padding: 20px;
}
.content6_1{
   margin-top: 50px;
}
.content7_1{
  text-align: center;
  /* border-right: 2px solid red; */
}
.content_border{
  border-right: 1.5px solid #aaa;
}
.footer{
  margin-top: 1px;
  background-color: #eee1d1;
  padding:0 100px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer ul li a{
  color: black;
}
footer ul li a:hover{
  color: #947860;
}
.contact a{
  color: black;
}
.contact a:hover{
  color: #947860;
}
.contact address:hover{
   color: #947860;
}
.social ul li a i{
  background-color: #eee1d1;
  font-size: 30px;
  color: #947860;
}
.social ul li a i:hover{
  background-color: #eee1d1;
  color: #52463b;
}

.footer_copyright{
  width: 100%;
   /* background-color: #333; */
   color: #52463b;
   /* margin: -30px -100px; */
}
@media only screen and (max-width: 380px) {
	
  .footer {
    padding: 0 30px;
    padding-top: 30px !important;
    padding-bottom: 30px;
}


}


/*==============My Story css================*/
.image2 img{
  border-radius: 50%;
  display: flex;
  margin: 0px auto;
  width: 100%;
  height: 100%;
  max-width: 300px;
  height: 300px;
}
.my_story{
  background-color: #eee1d1;
  padding: 20px;
}
.my_story h1{
  text-align: center;
  color: #947860;
  font-weight: 700;
}
.my_story p{
  color: #947860;
  text-align: justify;
  line-height: 30px;
}
.content{
  color: #b59c86;
}
.my_story_content p{
  text-align: justify;
  color: #947860;
  line-height: 30px;
}
.right_img img{
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: fill;
  height: 500px;
}
.my_story_content1 p{
  color: #947860;
  text-align: justify;
  line-height: 30px;
}
.my_story_content2 {
  color: #947860;
  text-align: justify;
  line-height: 15px;
}